body{
    overflow: hidden;
}

#imageTitle{

    left: 600px;
}

@font-face{
    font-family: 'Watermelon Days';
    src: url('../recursos/Fuentes/Watermelon Days.ttf') format('truetype');
}

@font-face{

    font-family: 'Watermelo';
    src: url('../recursos/Fuentes/Watermelon.ttf') format('truetype')
}

.buton{
    font-family: 'Watermelo';
}


.Azul1{

    background-color: #01CBCB;
}

.AzulMarino{

    background-color: #02ABB0;
}

.Celeste{

    background-color:#A3E1FF;
}

.Aqua{
    background-color: #50FFFF;
}

button:hover{
    background-color:#A3E1FF;
}

#imagenTitulo{
    width: 600px;
    height: 400px;
}