body{
    
    background-image: url("2.jpg");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    
}

@font-face {
    font-family: 'MiFuentePersonalizada';
    
    src: url('Watermelon.ttf') format('truetype');
}

table {
    font-family: 'MiFuentePersonalizada', sans-serif;
    position:relative;
    margin-top: 280px;
    margin-left: 450px;

   
}
td {
    font-size: 36px;
    text-align: left;
    padding: 5px;
    text-align: center;
    
    background-color: #fcdd43;
    border: 3px solid #000000;
}

th{
    font-size: 56px;
    text-align: center;
    padding: 5px;
   
    background-color: #02abb0;
    color:#fcdd43;
    border: 3px solid #000000;

}

