body{
    overflow: hidden;
}

#imageTitle{

    left: 600px;
}

@font-face{

    font-family: 'WatermeloDays';
    src: url(/Frontend/CSSSetignMenu/Fuentes/Watermelon\ Days.ttf);
}

@font-face{

    font-family: 'Watermelo';
    src: url(/Frontend/CSSSetignMenu/Fuentes/Watermelon.ttf);
}

.buton{
    font-family: 'Watermelo';
}


.Azul1{

    background-color: #01CBCB;
}

.AzulMarino{

    background-color: #02ABB0;
}

.Celeste{

    background-color:#A3E1FF;
}

.Aqua{
    background-color: #50FFFF;
}

button:hover{
    background-color:#A3E1FF;
}

#imagenTitulo{
    width: 600px;
    height: 400px;
}